<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<%end%>
<% @posts.each do |post| %>
  <ul>
    <li>
      <%= post.title %>
    </li>
    <li>
      <%= post.body %>
      <%- if current_user.role == "admin" %>
        <%= link_to "Revert", "/posts/#{post.id}/cancel", method: :put if post.aasm_state == "published" || post.aasm_state == "reviewing"%>
        <%= link_to "Publish", "/posts/#{post.id}/publish", method: :put if post.aasm_state == "reviewing"%>
      <%end%>
      <%- if current_user.role == "reviewer" %>
        <%= link_to "Publish", "/posts/#{post.id}/publish", method: :put %>
      <%end%>
      <%- if current_user.role == "author" %>
        <%= link_to "Review", "/posts/#{post.id}/review", method: :put if post.aasm_state == "in_draft" %>
      <%end%>
    </li>
  </ul>
<%end%>
<%= link_to "Home", :root %>
