<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@post.errors.count, "error") %>
      prohibited this article from beign saved:
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  <%end%>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, placeholder: "Body" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Post"%>
  </div>
<%end%>

<%= link_to "Home", :root %>
