<% if @post.images.any? %>

  <div class="hero-unit">
    <div class="hero-title">
      <%= @post.title %>
      <div class="hero-button btn-default">
        <%= link_to "Back to Posts", posts_path, method: :get %>
      </div>
    </div>

    <div class="hero-img">
      <%= image_tag @post.images.first.image_url %>
    </div>
  </div>
<%end%>

<div class="post-body">
  <%= @post.body %>
</div>

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "You sure?" } %>
<%= link_to "Home", :root %>
