<h1>waka</h1>
<%= @post.title %>
</br>
<%= render_markdown @post.body %>
</br>
<%- if current_user.role == "admin" || current_user.role == "reviewer" %>
  <%= link_to "Edit", edit_post_path(@post) %>
<%- elsif @post.aasm_state == "in_draft" %>
  <%= link_to "Edit", edit_post_path(@post) %>
<%end%>
<%- if current_user.role == "admin" || current_user.role == "reviewer"%>
  <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "You sure?" } %>
<%end%>
<%= link_to "Home", :root %>
